{:aliases  {:dev {:extra-paths ["development/src"
                                ;; Bases
                                "bases/cerberus-api/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}

                               ;; Web Server
                               metosin/malli {:mvn/version "0.10.1"}
                               metosin/reitit {:mvn/version "0.5.18"}
                               ring/ring-core {:mvn/version "1.9.6"}
                               ring/ring-jetty-adapter {:mvn/version "1.9.6"}}}

            :test {:extra-paths [;; Bases
                                 "bases/cerberus-api/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "a02680e6b37825b55232d94d99ea304c3c4f6059"
                                 :deps/root "projects/poly"}}}}}
